<?php
/**
 * PromoCodesApi
 * PHP version 7.4
 *
 * @category Class
 * @package  LifePlus\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * LifePlus Healthcare Platform API
 *
 * # LifePlus Healthcare Platform API  Enterprise-grade healthcare platform API for partner integration and third-party developers.  ## Platform Capabilities  ### Healthcare Services - **Telemedicine**: Video consultations with licensed doctors - **Appointments**: In-person doctor appointments at hospitals - **Diagnostics**: Lab tests and diagnostic services - **Home Sample Collection**: At-home diagnostic sample collection - **Ambulance**: Emergency ambulance booking - **Home Care**: Nursing and home care services  ### E-Commerce - **Pharmacy**: Medicine ordering and delivery - **Lifestyle Products**: Health supplements, medical devices - **Shopping Cart**: Multi-vendor cart management - **Order Fulfillment**: Complete order lifecycle management  ### Insurance & Packages - **Health Packages**: Subscription-based healthcare bundles - **Health Cards**: Membership cards with benefits - **Insurance Policies**: Policy browsing and purchase - **Claims Management**: Insurance claim processing  ## Architecture Overview  This API follows **domain-driven design** with clear separation of concerns:  ### Microservices Layer - **Auth Service**: JWT-based authentication and authorization - **User Service**: User profiles and beneficiary management - **Order Service**: Unified order processing for all order types - **Healthcare Service**: Medical services orchestration - **Product Service**: Catalog and inventory management - **Payment Service**: Payment gateway integration - **Notification Service**: SMS, email, push notifications  ### Service Layer (Business Logic) - Video call session management (Agora integration) - Doctor availability and slot booking - Package benefit calculation and tracking - Promo code validation and discount application - Corporate package enrollment  ### Integration Layer (Packages/SDKs) - **Go SDK**: High-performance SDK for Go applications - **PHP Laravel SDK**: Native Laravel package for PHP apps - **TypeScript SDK**: Modern TypeScript client with types  ### External Plugins - **SSL Commerz**: Payment gateway for Bangladesh - **Agora.io**: Real-time video/audio communication - **Firebase**: Push notifications - **AWS S3**: File storage  ## API Standards  ### REST Principles - **Resource-Based URIs**: Use plural nouns (`/orders`, `/users`, `/appointments`) - **HTTP Verbs**: GET (read), POST (create), PATCH (update), DELETE (remove) - **Stateless**: Each request contains all necessary information - **HATEOAS**: Include links to related resources when applicable  ### Naming Conventions - ✅ **Correct**: `/orders`, `/appointments`, `/products` - ❌ **Incorrect**: `/product-orders`, `/get-orders`, `/createAppointment`  ### Response Format All responses follow a consistent structure: ```json {   \"success\": true,   \"message\": \"Operation completed successfully\",   \"data\": { ... },   \"meta\": { \"pagination\": {...} } } ```  ### Error Handling Errors follow RFC 7807 Problem Details: ```json {   \"success\": false,   \"message\": \"Validation failed\",   \"code\": 422,   \"errors\": {     \"email\": [\"The email field is required\"],     \"phone\": [\"The phone format is invalid\"]   } } ```  ### Pagination List endpoints support consistent pagination: - `page`: Current page number (default: 1) - `per_page`: Items per page (default: 15, max: 100) - `sort`: Field to sort by (default: created_at) - `order`: Sort direction (asc/desc, default: desc) - `q`: Search query  ### Authentication Most endpoints require JWT Bearer authentication: ``` Authorization: Bearer <your_jwt_token> ```  Obtain a token by calling `POST /sessions` with valid credentials.  ### Rate Limiting - **Standard**: 60 requests/minute per IP - **Authenticated**: 120 requests/minute per user - **Partner API**: Custom limits based on agreement  ### Versioning - API version is in the URL: `/api/v1` - Breaking changes will result in new version: `/api/v2` - Old versions supported for 12 months after deprecation notice  ## SDK Usage  ### Go SDK ```go import \"github.com/LifeplusBangladesh/lifeplus-go-sdk\"  client := lifeplus.NewClient(\"your-api-key\") products, err := client.Products.List(context.Background(), &lifeplus.ProductListOptions{     Page: 1,     PerPage: 20, }) ```  ### PHP Laravel SDK ```php use LifePlus\\SDK\\LifePlusClient;  $client = new LifePlusClient(env('LIFEPLUS_API_KEY')); $products = $client->products()->list(['per_page' => 20]); ```  ### TypeScript SDK ```typescript import { LifePlusClient } from '@lifeplus/sdk';  const client = new LifePlusClient({ apiKey: 'your-api-key' }); const products = await client.products.list({ perPage: 20 }); ```
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: mamun@lifeplusbd.com
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.10.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace LifePlus\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use LifePlus\SDK\ApiException;
use LifePlus\SDK\Configuration;
use LifePlus\SDK\HeaderSelector;
use LifePlus\SDK\ObjectSerializer;

/**
 * PromoCodesApi Class Doc Comment
 *
 * @category Class
 * @package  LifePlus\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class PromoCodesApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'promoCodeValidationsPost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation promoCodeValidationsPost
     *
     * Validate promo code
     *
     * @param  \LifePlus\SDK\Model\PromoCodeCheck $promo_code_check promo_code_check (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['promoCodeValidationsPost'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \LifePlus\SDK\Model\PromoCodeCheck
     */
    public function promoCodeValidationsPost($promo_code_check, string $contentType = self::contentTypes['promoCodeValidationsPost'][0])
    {
        list($response) = $this->promoCodeValidationsPostWithHttpInfo($promo_code_check, $contentType);
        return $response;
    }

    /**
     * Operation promoCodeValidationsPostWithHttpInfo
     *
     * Validate promo code
     *
     * @param  \LifePlus\SDK\Model\PromoCodeCheck $promo_code_check (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['promoCodeValidationsPost'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \LifePlus\SDK\Model\PromoCodeCheck, HTTP status code, HTTP response headers (array of strings)
     */
    public function promoCodeValidationsPostWithHttpInfo($promo_code_check, string $contentType = self::contentTypes['promoCodeValidationsPost'][0])
    {
        $request = $this->promoCodeValidationsPostRequest($promo_code_check, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\LifePlus\SDK\Model\PromoCodeCheck' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\PromoCodeCheck' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\PromoCodeCheck', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\LifePlus\SDK\Model\PromoCodeCheck';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\PromoCodeCheck',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation promoCodeValidationsPostAsync
     *
     * Validate promo code
     *
     * @param  \LifePlus\SDK\Model\PromoCodeCheck $promo_code_check (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['promoCodeValidationsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function promoCodeValidationsPostAsync($promo_code_check, string $contentType = self::contentTypes['promoCodeValidationsPost'][0])
    {
        return $this->promoCodeValidationsPostAsyncWithHttpInfo($promo_code_check, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation promoCodeValidationsPostAsyncWithHttpInfo
     *
     * Validate promo code
     *
     * @param  \LifePlus\SDK\Model\PromoCodeCheck $promo_code_check (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['promoCodeValidationsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function promoCodeValidationsPostAsyncWithHttpInfo($promo_code_check, string $contentType = self::contentTypes['promoCodeValidationsPost'][0])
    {
        $returnType = '\LifePlus\SDK\Model\PromoCodeCheck';
        $request = $this->promoCodeValidationsPostRequest($promo_code_check, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'promoCodeValidationsPost'
     *
     * @param  \LifePlus\SDK\Model\PromoCodeCheck $promo_code_check (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['promoCodeValidationsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function promoCodeValidationsPostRequest($promo_code_check, string $contentType = self::contentTypes['promoCodeValidationsPost'][0])
    {

        // verify the required parameter 'promo_code_check' is set
        if ($promo_code_check === null || (is_array($promo_code_check) && count($promo_code_check) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $promo_code_check when calling promoCodeValidationsPost'
            );
        }


        $resourcePath = '/promo-code-validations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($promo_code_check)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($promo_code_check));
            } else {
                $httpBody = $promo_code_check;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API_KEY) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
