<?php
/**
 * TelemedicineApi
 * PHP version 7.4
 *
 * @category Class
 * @package  LifePlus\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * LifePlus Healthcare Platform API
 *
 * # LifePlus Healthcare Platform API  Enterprise-grade healthcare platform API for partner integration and third-party developers.  ## Platform Capabilities  ### Healthcare Services - **Telemedicine**: Video consultations with licensed doctors - **Appointments**: In-person doctor appointments at hospitals - **Diagnostics**: Lab tests and diagnostic services - **Home Sample Collection**: At-home diagnostic sample collection - **Ambulance**: Emergency ambulance booking - **Home Care**: Nursing and home care services  ### E-Commerce - **Pharmacy**: Medicine ordering and delivery - **Lifestyle Products**: Health supplements, medical devices - **Shopping Cart**: Multi-vendor cart management - **Order Fulfillment**: Complete order lifecycle management  ### Insurance & Packages - **Health Packages**: Subscription-based healthcare bundles - **Health Cards**: Membership cards with benefits - **Insurance Policies**: Policy browsing and purchase - **Claims Management**: Insurance claim processing  ## Architecture Overview  This API follows **domain-driven design** with clear separation of concerns:  ### Microservices Layer - **Auth Service**: JWT-based authentication and authorization - **User Service**: User profiles and beneficiary management - **Order Service**: Unified order processing for all order types - **Healthcare Service**: Medical services orchestration - **Product Service**: Catalog and inventory management - **Payment Service**: Payment gateway integration - **Notification Service**: SMS, email, push notifications  ### Service Layer (Business Logic) - Video call session management (Agora integration) - Doctor availability and slot booking - Package benefit calculation and tracking - Promo code validation and discount application - Corporate package enrollment  ### Integration Layer (Packages/SDKs) - **Go SDK**: High-performance SDK for Go applications - **PHP Laravel SDK**: Native Laravel package for PHP apps - **TypeScript SDK**: Modern TypeScript client with types  ### External Plugins - **SSL Commerz**: Payment gateway for Bangladesh - **Agora.io**: Real-time video/audio communication - **Firebase**: Push notifications - **AWS S3**: File storage  ## API Standards  ### REST Principles - **Resource-Based URIs**: Use plural nouns (`/orders`, `/users`, `/appointments`) - **HTTP Verbs**: GET (read), POST (create), PATCH (update), DELETE (remove) - **Stateless**: Each request contains all necessary information - **HATEOAS**: Include links to related resources when applicable  ### Naming Conventions - ✅ **Correct**: `/orders`, `/appointments`, `/products` - ❌ **Incorrect**: `/product-orders`, `/get-orders`, `/createAppointment`  ### Response Format All responses follow a consistent structure: ```json {   \"success\": true,   \"message\": \"Operation completed successfully\",   \"data\": { ... },   \"meta\": { \"pagination\": {...} } } ```  ### Error Handling Errors follow RFC 7807 Problem Details: ```json {   \"success\": false,   \"message\": \"Validation failed\",   \"code\": 422,   \"errors\": {     \"email\": [\"The email field is required\"],     \"phone\": [\"The phone format is invalid\"]   } } ```  ### Pagination List endpoints support consistent pagination: - `page`: Current page number (default: 1) - `per_page`: Items per page (default: 15, max: 100) - `sort`: Field to sort by (default: created_at) - `order`: Sort direction (asc/desc, default: desc) - `q`: Search query  ### Authentication Most endpoints require JWT Bearer authentication: ``` Authorization: Bearer <your_jwt_token> ```  Obtain a token by calling `POST /sessions` with valid credentials.  ### Rate Limiting - **Standard**: 60 requests/minute per IP - **Authenticated**: 120 requests/minute per user - **Partner API**: Custom limits based on agreement  ### Versioning - API version is in the URL: `/api/v1` - Breaking changes will result in new version: `/api/v2` - Old versions supported for 12 months after deprecation notice  ## SDK Usage  ### Go SDK ```go import \"github.com/LifeplusBangladesh/lifeplus-go-sdk\"  client := lifeplus.NewClient(\"your-api-key\") products, err := client.Products.List(context.Background(), &lifeplus.ProductListOptions{     Page: 1,     PerPage: 20, }) ```  ### PHP Laravel SDK ```php use LifePlus\\SDK\\LifePlusClient;  $client = new LifePlusClient(env('LIFEPLUS_API_KEY')); $products = $client->products()->list(['per_page' => 20]); ```  ### TypeScript SDK ```typescript import { LifePlusClient } from '@lifeplus/sdk';  const client = new LifePlusClient({ apiKey: 'your-api-key' }); const products = await client.products.list({ perPage: 20 }); ```
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: mamun@lifeplusbd.com
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.10.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace LifePlus\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use LifePlus\SDK\ApiException;
use LifePlus\SDK\Configuration;
use LifePlus\SDK\HeaderSelector;
use LifePlus\SDK\ObjectSerializer;

/**
 * TelemedicineApi Class Doc Comment
 *
 * @category Class
 * @package  LifePlus\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class TelemedicineApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'getVideoCallHistory' => [
            'application/json',
        ],
        'requestVideoCall' => [
            'multipart/form-data',
        ],
        'telemedicineHistoryGet' => [
            'application/json',
        ],
        'telemedicineSlotsPost' => [
            'application/json',
        ],
        'uploadVideoCallPrescription' => [
            'multipart/form-data',
        ],
        'videoCallsIdTokenDelete' => [
            'application/json',
        ],
        'videoCallsIdTokenGet' => [
            'application/json',
        ],
        'videoCallsIdTokenPost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation getVideoCallHistory
     *
     * Get video call history
     *
     * @param  int $user_id user_id (optional)
     * @param  int $page Page number for pagination (optional, default to 1)
     * @param  int $per_page Number of items per page (optional, default to 10)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getVideoCallHistory'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \LifePlus\SDK\Model\VideoCallHistory[]|\LifePlus\SDK\Model\Error
     */
    public function getVideoCallHistory($user_id = null, $page = 1, $per_page = 10, string $contentType = self::contentTypes['getVideoCallHistory'][0])
    {
        list($response) = $this->getVideoCallHistoryWithHttpInfo($user_id, $page, $per_page, $contentType);
        return $response;
    }

    /**
     * Operation getVideoCallHistoryWithHttpInfo
     *
     * Get video call history
     *
     * @param  int $user_id (optional)
     * @param  int $page Page number for pagination (optional, default to 1)
     * @param  int $per_page Number of items per page (optional, default to 10)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getVideoCallHistory'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \LifePlus\SDK\Model\VideoCallHistory[]|\LifePlus\SDK\Model\Error, HTTP status code, HTTP response headers (array of strings)
     */
    public function getVideoCallHistoryWithHttpInfo($user_id = null, $page = 1, $per_page = 10, string $contentType = self::contentTypes['getVideoCallHistory'][0])
    {
        $request = $this->getVideoCallHistoryRequest($user_id, $page, $per_page, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    if ('\LifePlus\SDK\Model\VideoCallHistory[]' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\VideoCallHistory[]' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\VideoCallHistory[]', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 401:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\LifePlus\SDK\Model\VideoCallHistory[]';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\VideoCallHistory[]',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getVideoCallHistoryAsync
     *
     * Get video call history
     *
     * @param  int $user_id (optional)
     * @param  int $page Page number for pagination (optional, default to 1)
     * @param  int $per_page Number of items per page (optional, default to 10)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getVideoCallHistory'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getVideoCallHistoryAsync($user_id = null, $page = 1, $per_page = 10, string $contentType = self::contentTypes['getVideoCallHistory'][0])
    {
        return $this->getVideoCallHistoryAsyncWithHttpInfo($user_id, $page, $per_page, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getVideoCallHistoryAsyncWithHttpInfo
     *
     * Get video call history
     *
     * @param  int $user_id (optional)
     * @param  int $page Page number for pagination (optional, default to 1)
     * @param  int $per_page Number of items per page (optional, default to 10)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getVideoCallHistory'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getVideoCallHistoryAsyncWithHttpInfo($user_id = null, $page = 1, $per_page = 10, string $contentType = self::contentTypes['getVideoCallHistory'][0])
    {
        $returnType = '\LifePlus\SDK\Model\VideoCallHistory[]';
        $request = $this->getVideoCallHistoryRequest($user_id, $page, $per_page, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getVideoCallHistory'
     *
     * @param  int $user_id (optional)
     * @param  int $page Page number for pagination (optional, default to 1)
     * @param  int $per_page Number of items per page (optional, default to 10)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getVideoCallHistory'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getVideoCallHistoryRequest($user_id = null, $page = 1, $per_page = 10, string $contentType = self::contentTypes['getVideoCallHistory'][0])
    {


        if ($page !== null && $page < 1) {
            throw new \InvalidArgumentException('invalid value for "$page" when calling TelemedicineApi.getVideoCallHistory, must be bigger than or equal to 1.');
        }
        
        if ($per_page !== null && $per_page > 100) {
            throw new \InvalidArgumentException('invalid value for "$per_page" when calling TelemedicineApi.getVideoCallHistory, must be smaller than or equal to 100.');
        }
        if ($per_page !== null && $per_page < 1) {
            throw new \InvalidArgumentException('invalid value for "$per_page" when calling TelemedicineApi.getVideoCallHistory, must be bigger than or equal to 1.');
        }
        

        $resourcePath = '/video-calls';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $user_id,
            'user_id', // param base name
            'integer', // openApiType
            '', // style
            false, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $page,
            'page', // param base name
            'integer', // openApiType
            '', // style
            false, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $per_page,
            'per_page', // param base name
            'integer', // openApiType
            '', // style
            false, // explode
            false // required
        ) ?? []);




        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (JWT) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation requestVideoCall
     *
     * Request a video call
     *
     * @param  int $d_id Doctor ID (required)
     * @param  string $call_type call_type (required)
     * @param  int $get_video_call_token get_video_call_token (optional, default to 1)
     * @param  string $channel_name channel_name (optional)
     * @param  int $myself 1&#x3D;myself, 0&#x3D;others (optional)
     * @param  string $p_name Patient name (optional)
     * @param  string $p_phone p_phone (optional)
     * @param  int $p_age p_age (optional)
     * @param  string $p_gender p_gender (optional)
     * @param  string $d_name d_name (optional)
     * @param  \DateTime $book_slot_date book_slot_date (optional)
     * @param  string $book_slot_value book_slot_value (optional)
     * @param  \SplFileObject[] $patient_prescriptions patient_prescriptions (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['requestVideoCall'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \LifePlus\SDK\Model\VideoCallHistory|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error
     */
    public function requestVideoCall($d_id, $call_type, $get_video_call_token = 1, $channel_name = null, $myself = null, $p_name = null, $p_phone = null, $p_age = null, $p_gender = null, $d_name = null, $book_slot_date = null, $book_slot_value = null, $patient_prescriptions = null, string $contentType = self::contentTypes['requestVideoCall'][0])
    {
        list($response) = $this->requestVideoCallWithHttpInfo($d_id, $call_type, $get_video_call_token, $channel_name, $myself, $p_name, $p_phone, $p_age, $p_gender, $d_name, $book_slot_date, $book_slot_value, $patient_prescriptions, $contentType);
        return $response;
    }

    /**
     * Operation requestVideoCallWithHttpInfo
     *
     * Request a video call
     *
     * @param  int $d_id Doctor ID (required)
     * @param  string $call_type (required)
     * @param  int $get_video_call_token (optional, default to 1)
     * @param  string $channel_name (optional)
     * @param  int $myself 1&#x3D;myself, 0&#x3D;others (optional)
     * @param  string $p_name Patient name (optional)
     * @param  string $p_phone (optional)
     * @param  int $p_age (optional)
     * @param  string $p_gender (optional)
     * @param  string $d_name (optional)
     * @param  \DateTime $book_slot_date (optional)
     * @param  string $book_slot_value (optional)
     * @param  \SplFileObject[] $patient_prescriptions (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['requestVideoCall'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \LifePlus\SDK\Model\VideoCallHistory|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error, HTTP status code, HTTP response headers (array of strings)
     */
    public function requestVideoCallWithHttpInfo($d_id, $call_type, $get_video_call_token = 1, $channel_name = null, $myself = null, $p_name = null, $p_phone = null, $p_age = null, $p_gender = null, $d_name = null, $book_slot_date = null, $book_slot_value = null, $patient_prescriptions = null, string $contentType = self::contentTypes['requestVideoCall'][0])
    {
        $request = $this->requestVideoCallRequest($d_id, $call_type, $get_video_call_token, $channel_name, $myself, $p_name, $p_phone, $p_age, $p_gender, $d_name, $book_slot_date, $book_slot_value, $patient_prescriptions, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 201:
                    if ('\LifePlus\SDK\Model\VideoCallHistory' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\VideoCallHistory' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\VideoCallHistory', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 400:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 401:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 422:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\LifePlus\SDK\Model\VideoCallHistory';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\VideoCallHistory',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation requestVideoCallAsync
     *
     * Request a video call
     *
     * @param  int $d_id Doctor ID (required)
     * @param  string $call_type (required)
     * @param  int $get_video_call_token (optional, default to 1)
     * @param  string $channel_name (optional)
     * @param  int $myself 1&#x3D;myself, 0&#x3D;others (optional)
     * @param  string $p_name Patient name (optional)
     * @param  string $p_phone (optional)
     * @param  int $p_age (optional)
     * @param  string $p_gender (optional)
     * @param  string $d_name (optional)
     * @param  \DateTime $book_slot_date (optional)
     * @param  string $book_slot_value (optional)
     * @param  \SplFileObject[] $patient_prescriptions (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['requestVideoCall'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function requestVideoCallAsync($d_id, $call_type, $get_video_call_token = 1, $channel_name = null, $myself = null, $p_name = null, $p_phone = null, $p_age = null, $p_gender = null, $d_name = null, $book_slot_date = null, $book_slot_value = null, $patient_prescriptions = null, string $contentType = self::contentTypes['requestVideoCall'][0])
    {
        return $this->requestVideoCallAsyncWithHttpInfo($d_id, $call_type, $get_video_call_token, $channel_name, $myself, $p_name, $p_phone, $p_age, $p_gender, $d_name, $book_slot_date, $book_slot_value, $patient_prescriptions, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation requestVideoCallAsyncWithHttpInfo
     *
     * Request a video call
     *
     * @param  int $d_id Doctor ID (required)
     * @param  string $call_type (required)
     * @param  int $get_video_call_token (optional, default to 1)
     * @param  string $channel_name (optional)
     * @param  int $myself 1&#x3D;myself, 0&#x3D;others (optional)
     * @param  string $p_name Patient name (optional)
     * @param  string $p_phone (optional)
     * @param  int $p_age (optional)
     * @param  string $p_gender (optional)
     * @param  string $d_name (optional)
     * @param  \DateTime $book_slot_date (optional)
     * @param  string $book_slot_value (optional)
     * @param  \SplFileObject[] $patient_prescriptions (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['requestVideoCall'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function requestVideoCallAsyncWithHttpInfo($d_id, $call_type, $get_video_call_token = 1, $channel_name = null, $myself = null, $p_name = null, $p_phone = null, $p_age = null, $p_gender = null, $d_name = null, $book_slot_date = null, $book_slot_value = null, $patient_prescriptions = null, string $contentType = self::contentTypes['requestVideoCall'][0])
    {
        $returnType = '\LifePlus\SDK\Model\VideoCallHistory';
        $request = $this->requestVideoCallRequest($d_id, $call_type, $get_video_call_token, $channel_name, $myself, $p_name, $p_phone, $p_age, $p_gender, $d_name, $book_slot_date, $book_slot_value, $patient_prescriptions, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'requestVideoCall'
     *
     * @param  int $d_id Doctor ID (required)
     * @param  string $call_type (required)
     * @param  int $get_video_call_token (optional, default to 1)
     * @param  string $channel_name (optional)
     * @param  int $myself 1&#x3D;myself, 0&#x3D;others (optional)
     * @param  string $p_name Patient name (optional)
     * @param  string $p_phone (optional)
     * @param  int $p_age (optional)
     * @param  string $p_gender (optional)
     * @param  string $d_name (optional)
     * @param  \DateTime $book_slot_date (optional)
     * @param  string $book_slot_value (optional)
     * @param  \SplFileObject[] $patient_prescriptions (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['requestVideoCall'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function requestVideoCallRequest($d_id, $call_type, $get_video_call_token = 1, $channel_name = null, $myself = null, $p_name = null, $p_phone = null, $p_age = null, $p_gender = null, $d_name = null, $book_slot_date = null, $book_slot_value = null, $patient_prescriptions = null, string $contentType = self::contentTypes['requestVideoCall'][0])
    {

        // verify the required parameter 'd_id' is set
        if ($d_id === null || (is_array($d_id) && count($d_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $d_id when calling requestVideoCall'
            );
        }

        // verify the required parameter 'call_type' is set
        if ($call_type === null || (is_array($call_type) && count($call_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $call_type when calling requestVideoCall'
            );
        }













        $resourcePath = '/video-calls';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        if ($get_video_call_token !== null) {
            $formParams['get_video_call_token'] = ObjectSerializer::toFormValue($get_video_call_token);
        }
        // form params
        if ($channel_name !== null) {
            $formParams['channel_name'] = ObjectSerializer::toFormValue($channel_name);
        }
        // form params
        if ($myself !== null) {
            $formParams['myself'] = ObjectSerializer::toFormValue($myself);
        }
        // form params
        if ($p_name !== null) {
            $formParams['p_name'] = ObjectSerializer::toFormValue($p_name);
        }
        // form params
        if ($p_phone !== null) {
            $formParams['p_phone'] = ObjectSerializer::toFormValue($p_phone);
        }
        // form params
        if ($p_age !== null) {
            $formParams['p_age'] = ObjectSerializer::toFormValue($p_age);
        }
        // form params
        if ($p_gender !== null) {
            $formParams['p_gender'] = ObjectSerializer::toFormValue($p_gender);
        }
        // form params
        if ($d_id !== null) {
            $formParams['d_id'] = ObjectSerializer::toFormValue($d_id);
        }
        // form params
        if ($d_name !== null) {
            $formParams['d_name'] = ObjectSerializer::toFormValue($d_name);
        }
        // form params
        if ($call_type !== null) {
            $formParams['call_type'] = ObjectSerializer::toFormValue($call_type);
        }
        // form params
        if ($book_slot_date !== null) {
            $formParams['book_slot_date'] = ObjectSerializer::toFormValue($book_slot_date);
        }
        // form params
        if ($book_slot_value !== null) {
            $formParams['book_slot_value'] = ObjectSerializer::toFormValue($book_slot_value);
        }
        // form params
        if ($patient_prescriptions !== null) {
            $multipart = true;
            $formParams['patient_prescriptions'] = [];
            $paramFiles = is_array($patient_prescriptions) ? $patient_prescriptions : [$patient_prescriptions];
            foreach ($paramFiles as $paramFile) {
                $formParams['patient_prescriptions'][] = \GuzzleHttp\Psr7\Utils::tryFopen(
                    ObjectSerializer::toFormValue($paramFile),
                    'rb'
                );
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (JWT) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation telemedicineHistoryGet
     *
     * Get user telemedicine history
     *
     * @param  int $user_id user_id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineHistoryGet'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function telemedicineHistoryGet($user_id, string $contentType = self::contentTypes['telemedicineHistoryGet'][0])
    {
        $this->telemedicineHistoryGetWithHttpInfo($user_id, $contentType);
    }

    /**
     * Operation telemedicineHistoryGetWithHttpInfo
     *
     * Get user telemedicine history
     *
     * @param  int $user_id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineHistoryGet'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function telemedicineHistoryGetWithHttpInfo($user_id, string $contentType = self::contentTypes['telemedicineHistoryGet'][0])
    {
        $request = $this->telemedicineHistoryGetRequest($user_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation telemedicineHistoryGetAsync
     *
     * Get user telemedicine history
     *
     * @param  int $user_id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineHistoryGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function telemedicineHistoryGetAsync($user_id, string $contentType = self::contentTypes['telemedicineHistoryGet'][0])
    {
        return $this->telemedicineHistoryGetAsyncWithHttpInfo($user_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation telemedicineHistoryGetAsyncWithHttpInfo
     *
     * Get user telemedicine history
     *
     * @param  int $user_id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineHistoryGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function telemedicineHistoryGetAsyncWithHttpInfo($user_id, string $contentType = self::contentTypes['telemedicineHistoryGet'][0])
    {
        $returnType = '';
        $request = $this->telemedicineHistoryGetRequest($user_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'telemedicineHistoryGet'
     *
     * @param  int $user_id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineHistoryGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function telemedicineHistoryGetRequest($user_id, string $contentType = self::contentTypes['telemedicineHistoryGet'][0])
    {

        // verify the required parameter 'user_id' is set
        if ($user_id === null || (is_array($user_id) && count($user_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $user_id when calling telemedicineHistoryGet'
            );
        }


        $resourcePath = '/telemedicine/history';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $user_id,
            'userId', // param base name
            'integer', // openApiType
            '', // style
            false, // explode
            true // required
        ) ?? []);




        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API_KEY) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation telemedicineSlotsPost
     *
     * Reserve doctor slot
     *
     * @param  \LifePlus\SDK\Model\TelemedicineSlotReservation $telemedicine_slot_reservation telemedicine_slot_reservation (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineSlotsPost'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function telemedicineSlotsPost($telemedicine_slot_reservation, string $contentType = self::contentTypes['telemedicineSlotsPost'][0])
    {
        $this->telemedicineSlotsPostWithHttpInfo($telemedicine_slot_reservation, $contentType);
    }

    /**
     * Operation telemedicineSlotsPostWithHttpInfo
     *
     * Reserve doctor slot
     *
     * @param  \LifePlus\SDK\Model\TelemedicineSlotReservation $telemedicine_slot_reservation (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineSlotsPost'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function telemedicineSlotsPostWithHttpInfo($telemedicine_slot_reservation, string $contentType = self::contentTypes['telemedicineSlotsPost'][0])
    {
        $request = $this->telemedicineSlotsPostRequest($telemedicine_slot_reservation, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation telemedicineSlotsPostAsync
     *
     * Reserve doctor slot
     *
     * @param  \LifePlus\SDK\Model\TelemedicineSlotReservation $telemedicine_slot_reservation (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineSlotsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function telemedicineSlotsPostAsync($telemedicine_slot_reservation, string $contentType = self::contentTypes['telemedicineSlotsPost'][0])
    {
        return $this->telemedicineSlotsPostAsyncWithHttpInfo($telemedicine_slot_reservation, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation telemedicineSlotsPostAsyncWithHttpInfo
     *
     * Reserve doctor slot
     *
     * @param  \LifePlus\SDK\Model\TelemedicineSlotReservation $telemedicine_slot_reservation (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineSlotsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function telemedicineSlotsPostAsyncWithHttpInfo($telemedicine_slot_reservation, string $contentType = self::contentTypes['telemedicineSlotsPost'][0])
    {
        $returnType = '';
        $request = $this->telemedicineSlotsPostRequest($telemedicine_slot_reservation, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'telemedicineSlotsPost'
     *
     * @param  \LifePlus\SDK\Model\TelemedicineSlotReservation $telemedicine_slot_reservation (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['telemedicineSlotsPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function telemedicineSlotsPostRequest($telemedicine_slot_reservation, string $contentType = self::contentTypes['telemedicineSlotsPost'][0])
    {

        // verify the required parameter 'telemedicine_slot_reservation' is set
        if ($telemedicine_slot_reservation === null || (is_array($telemedicine_slot_reservation) && count($telemedicine_slot_reservation) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $telemedicine_slot_reservation when calling telemedicineSlotsPost'
            );
        }


        $resourcePath = '/telemedicine/slots';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($telemedicine_slot_reservation)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($telemedicine_slot_reservation));
            } else {
                $httpBody = $telemedicine_slot_reservation;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API_KEY) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation uploadVideoCallPrescription
     *
     * Upload prescription for video call
     *
     * @param  int $id Video call room ID (required)
     * @param  \SplFileObject $image image (required)
     * @param  int $room_id Video call room id (if required by backend) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['uploadVideoCallPrescription'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \LifePlus\SDK\Model\SuccessResponse|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error
     */
    public function uploadVideoCallPrescription($id, $image, $room_id = null, string $contentType = self::contentTypes['uploadVideoCallPrescription'][0])
    {
        list($response) = $this->uploadVideoCallPrescriptionWithHttpInfo($id, $image, $room_id, $contentType);
        return $response;
    }

    /**
     * Operation uploadVideoCallPrescriptionWithHttpInfo
     *
     * Upload prescription for video call
     *
     * @param  int $id Video call room ID (required)
     * @param  \SplFileObject $image (required)
     * @param  int $room_id Video call room id (if required by backend) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['uploadVideoCallPrescription'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \LifePlus\SDK\Model\SuccessResponse|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error|\LifePlus\SDK\Model\Error, HTTP status code, HTTP response headers (array of strings)
     */
    public function uploadVideoCallPrescriptionWithHttpInfo($id, $image, $room_id = null, string $contentType = self::contentTypes['uploadVideoCallPrescription'][0])
    {
        $request = $this->uploadVideoCallPrescriptionRequest($id, $image, $room_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 201:
                    if ('\LifePlus\SDK\Model\SuccessResponse' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\SuccessResponse' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\SuccessResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 400:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 401:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 404:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 422:
                    if ('\LifePlus\SDK\Model\Error' === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ('\LifePlus\SDK\Model\Error' !== 'string') {
                            try {
                                $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                            } catch (\JsonException $exception) {
                                throw new ApiException(
                                    sprintf(
                                        'Error JSON decoding server response (%s)',
                                        $request->getUri()
                                    ),
                                    $statusCode,
                                    $response->getHeaders(),
                                    $content
                                );
                            }
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\LifePlus\SDK\Model\Error', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            $returnType = '\LifePlus\SDK\Model\SuccessResponse';
            if ($returnType === '\SplFileObject') {
                $content = $response->getBody(); //stream goes to serializer
            } else {
                $content = (string) $response->getBody();
                if ($returnType !== 'string') {
                    try {
                        $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                    } catch (\JsonException $exception) {
                        throw new ApiException(
                            sprintf(
                                'Error JSON decoding server response (%s)',
                                $request->getUri()
                            ),
                            $statusCode,
                            $response->getHeaders(),
                            $content
                        );
                    }
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\SuccessResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\LifePlus\SDK\Model\Error',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation uploadVideoCallPrescriptionAsync
     *
     * Upload prescription for video call
     *
     * @param  int $id Video call room ID (required)
     * @param  \SplFileObject $image (required)
     * @param  int $room_id Video call room id (if required by backend) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['uploadVideoCallPrescription'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function uploadVideoCallPrescriptionAsync($id, $image, $room_id = null, string $contentType = self::contentTypes['uploadVideoCallPrescription'][0])
    {
        return $this->uploadVideoCallPrescriptionAsyncWithHttpInfo($id, $image, $room_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation uploadVideoCallPrescriptionAsyncWithHttpInfo
     *
     * Upload prescription for video call
     *
     * @param  int $id Video call room ID (required)
     * @param  \SplFileObject $image (required)
     * @param  int $room_id Video call room id (if required by backend) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['uploadVideoCallPrescription'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function uploadVideoCallPrescriptionAsyncWithHttpInfo($id, $image, $room_id = null, string $contentType = self::contentTypes['uploadVideoCallPrescription'][0])
    {
        $returnType = '\LifePlus\SDK\Model\SuccessResponse';
        $request = $this->uploadVideoCallPrescriptionRequest($id, $image, $room_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'uploadVideoCallPrescription'
     *
     * @param  int $id Video call room ID (required)
     * @param  \SplFileObject $image (required)
     * @param  int $room_id Video call room id (if required by backend) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['uploadVideoCallPrescription'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function uploadVideoCallPrescriptionRequest($id, $image, $room_id = null, string $contentType = self::contentTypes['uploadVideoCallPrescription'][0])
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling uploadVideoCallPrescription'
            );
        }

        // verify the required parameter 'image' is set
        if ($image === null || (is_array($image) && count($image) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $image when calling uploadVideoCallPrescription'
            );
        }



        $resourcePath = '/video-calls/{id}/prescriptions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // form params
        if ($room_id !== null) {
            $formParams['room_id'] = ObjectSerializer::toFormValue($room_id);
        }
        // form params
        if ($image !== null) {
            $multipart = true;
            $formParams['image'] = [];
            $paramFiles = is_array($image) ? $image : [$image];
            foreach ($paramFiles as $paramFile) {
                $formParams['image'][] = \GuzzleHttp\Psr7\Utils::tryFopen(
                    ObjectSerializer::toFormValue($paramFile),
                    'rb'
                );
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (JWT) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoCallsIdTokenDelete
     *
     * Revoke video call token
     *
     * @param  int $id id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenDelete'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function videoCallsIdTokenDelete($id, string $contentType = self::contentTypes['videoCallsIdTokenDelete'][0])
    {
        $this->videoCallsIdTokenDeleteWithHttpInfo($id, $contentType);
    }

    /**
     * Operation videoCallsIdTokenDeleteWithHttpInfo
     *
     * Revoke video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenDelete'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoCallsIdTokenDeleteWithHttpInfo($id, string $contentType = self::contentTypes['videoCallsIdTokenDelete'][0])
    {
        $request = $this->videoCallsIdTokenDeleteRequest($id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation videoCallsIdTokenDeleteAsync
     *
     * Revoke video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenDelete'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function videoCallsIdTokenDeleteAsync($id, string $contentType = self::contentTypes['videoCallsIdTokenDelete'][0])
    {
        return $this->videoCallsIdTokenDeleteAsyncWithHttpInfo($id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation videoCallsIdTokenDeleteAsyncWithHttpInfo
     *
     * Revoke video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenDelete'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function videoCallsIdTokenDeleteAsyncWithHttpInfo($id, string $contentType = self::contentTypes['videoCallsIdTokenDelete'][0])
    {
        $returnType = '';
        $request = $this->videoCallsIdTokenDeleteRequest($id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'videoCallsIdTokenDelete'
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenDelete'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function videoCallsIdTokenDeleteRequest($id, string $contentType = self::contentTypes['videoCallsIdTokenDelete'][0])
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling videoCallsIdTokenDelete'
            );
        }


        $resourcePath = '/video-calls/{id}/token';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API_KEY) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'DELETE',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoCallsIdTokenGet
     *
     * Get video call token
     *
     * @param  int $id id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenGet'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function videoCallsIdTokenGet($id, string $contentType = self::contentTypes['videoCallsIdTokenGet'][0])
    {
        $this->videoCallsIdTokenGetWithHttpInfo($id, $contentType);
    }

    /**
     * Operation videoCallsIdTokenGetWithHttpInfo
     *
     * Get video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenGet'] to see the possible values for this operation
     *
     * @throws \LifePlus\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoCallsIdTokenGetWithHttpInfo($id, string $contentType = self::contentTypes['videoCallsIdTokenGet'][0])
    {
        $request = $this->videoCallsIdTokenGetRequest($id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation videoCallsIdTokenGetAsync
     *
     * Get video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function videoCallsIdTokenGetAsync($id, string $contentType = self::contentTypes['videoCallsIdTokenGet'][0])
    {
        return $this->videoCallsIdTokenGetAsyncWithHttpInfo($id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation videoCallsIdTokenGetAsyncWithHttpInfo
     *
     * Get video call token
     *
     * @param  int $id (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['videoCallsIdTokenGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function videoCallsIdTokenGetAsyncWithHttpInfo($id, string $contentType = self::contentTypes['videoCallsIdTokenGet'][0])
    {
        $returnType = '';
        $request = $this->videoCallsIdTokenGetRequest($id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
[...]
